.App {
    background-image: url('./images/background-degrade.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* FORMULÁRIO DE LOGIN */
.container-login {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vh;
    border: solid 2px #E5D4C4;
    border-radius: 20px;
    padding: 20px;
    background: rgba(22, 77, 89, 0.056); /* fundo semi-transparente */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* para compatibilidade */
    color: #f4d9ba;
}